body {
  background-color: royalblue;
  color: white;
  font-family: Arial, Helvetica, sans-seriff;
  margin: 10% 20%;
}

.exp-header{
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0,0.1)
}
